<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Abuela Sordda</title>
</head>

<body>
    <%if params[:abuela].upcase == params[:abuela]%>
    <%= "Ahhh si, manzanas!" %>
    <% else %>
    <%= "Habla más duro mijito" %>
    <% end %>
</body>
</html>
